.staff_member{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.staff_link{
    display:inline-block;
    border-bottom:1px dashed #465f73;
    color:#465f73;
}

.staff_link:hover{
    border-bottom: none;
}

.staff_hide_link{
    display: none;
}

.staff_photo{
    margin-bottom: 10px;
}
.staff_member h4{

}